.hex {
  /* Colors */
  --color-default: #4fc08d;
  --color-hover: #35a171;
  --color-selected: #1d5039;
  --color-highlighted: #ba71af;

  --bg-color: var(--color-default);

  cursor: pointer;
  position: relative;
  background-color: var(--bg-color);
  height: var(--hex-height);
  margin: var(--hex-border) 0;
  width: var(--hex-width);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hex:hover {
  --bg-color: var(--color-hover);
}

.hex.isSelected,
.hex:hover.isSelected {
  --bg-color: var(--color-selected);
}

.hex.isHighlighted,
.hex:hover.isHighlighted {
  --bg-color: var(--color-highlighted);
}

.hex::after,
.hex::before {
  position: absolute;
  border-left: var(--hex-margin) solid transparent;
  border-right: var(--hex-margin) solid transparent;
  content: "";
  left: 0;
  width: 0;
}
.hex::after {
  top: 100%;
  border-top: var(--hex-border) solid var(--bg-color);
}
.hex::before {
  bottom: 100%;
  border-bottom: var(--hex-border) solid var(--bg-color);
}
