.root {
  /* Change this to change the appearance of the hexagons */
  --hex-width: 100px;
  --hex-between: 8px;

  /* Other hexagon dimentions */
  --hex-height: calc(var(--hex-width) / 1.73 /* sqrt(3) */);
  --hex-margin: calc(var(--hex-width) / 2);
  --hex-border: calc(var(--hex-margin) / 1.73 /* sqrt(3) */);

  /* Colors */
  --color-hex-default: #4fc08d;
  --color-hover: #35a171;

  /* Hexagons */
  display: grid;
  grid-auto-rows: calc(var(--hex-width) - 28.87px / 2);
  grid-gap: var(--hex-between);
}

.row {
  display: flex;
  gap: var(--hex-between);
}

.rowEven {
  margin-left: calc(var(--hex-width) / 2 + var(--hex-between) / 2);
}
